<!-- VKLJUČUMEMO ROUTER -->
<router-outlet></router-outlet>

<!-- ČE IMAMO SPODAJ SE SAMO NA ENGINE - ŠTARTA -->
<!--<app-engine></app-engine>-->



<!--<app-ui></app-ui> izklopil custom gui na levi strani od samega začetneta teamplate-a -->
